* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1, h3 {
    color: #e1e1e1
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-top: 5%;
    background: #121212;
}

h1 {
    font-size: 65px;
    font-family: Roboto;
}

h3 {
    font-size: 20px;
    max-width: 600px;
    font-family: Roboto;
    margin: 10px 0;
    font-weight: 400;
}

select {
    font-size: 20px;
    font-family: Roboto;
    width: 100%;
    padding: 5px;
    margin-top: 20px;
    cursor: pointer;
    color: #e1e1e1;
    outline: none;
    border: none;
    background: #343a40;
}

textarea {
    font-size: 20px;
    font-family: Roboto;
    resize: none;
    width: 600px;
    height: 300px;
    margin: 10px;
    padding: 10px;
    border: none;
    outline: none;
    color: #e1e1e1;
    background: #343a40;
}

div {
    display: flex;
    gap: 10px;
    margin: 0 10px;
}

button {
    font-size: 20px;
    font-family: Roboto;
    width: 50%;
    padding: 5px;
    cursor: pointer;
    background: #343a40;
    border: none;
    outline: none;
    border-radius: 5px;
    color: #e1e1e1;
}

button:hover {
    background: #e1e1e1;
    color: #121212;
}